<!DOCTYPE html>
<html>
<head>
  <title>SocialSite</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><a href="/">SocialSite</a></h1>
    <nav>

      <form action="/search" method="GET" class="search-form">
        <input type="text" name="username" placeholder="Search by username" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        <button type="submit">Search</button>
        <% if (typeof searchQuery !== 'undefined' && searchQuery) { %>
          <a href="/" class="clear-search">Clear</a>
        <% } %>
      </form>


      <% if (user) { %>
        <span>Hello, <%= user.username %></span>
        <a href="/logout">Logout</a>
        <% if (user.isAdmin) { %><a href="/admin">Admin</a><% } %>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      <% } %>
    </nav>
  </header>
</body>
</html>